<a href="https://colab.research.google.com/github/emersondivB0/API-RESTful-Foro/blob/main/DataScience/Importando_base_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# abrir json
json = open('alquiler.json')
print(json.read())

[{"Tipo":"Habitación","Distrito":"San Borja","Cuartos":1,"Vacantes":0,"Suites":0,"Area":40,"Valor":1700.0,"Mantenimiento":500.0,"Impuesto":60.0},
{"Tipo":"Casa","Distrito":"Lurigancho","Cuartos":2,"Vacantes":0,"Suites":1,"Area":100,"Valor":7000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Ate","Cuartos":0,"Vacantes":4,"Suites":0,"Area":150,"Valor":5200.0,"Mantenimiento":4020.0,"Impuesto":1111.0},
{"Tipo":"Departamento","Distrito":"Pachacámac","Cuartos":1,"Vacantes":0,"Suites":0,"Area":15,"Valor":800.0,"Mantenimiento":390.0,"Impuesto":20.0},
{"Tipo":"Departamento","Distrito":"Ate","Cuartos":1,"Vacantes":0,"Suites":0,"Area":48,"Valor":800.0,"Mantenimiento":230.0,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Barranco","Cuartos":3,"Vacantes":1,"Suites":0,"Area":70,"Valor":1200.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Comas","Cuartos":2,"Vacantes":0,"Suites":0,"Area":50,"Valor":1300.0,"Mantenimiento":301.0,"Impuesto":17.0},
{"Tipo":"Casa en condominio","Distrito":"Ate","Cuartos":5,"Vacantes":4,"Suites":5,"Area":750,"Valor":22000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Casa en condominio","Distrito":"El Agustino","Cuartos":2,"Vacantes":2,"Suites":0,"Area":65,"Valor":1000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Pachacámac","Cuartos":0,"Vacantes":3,"Suites":0,"Area":695,"Valor":35000.0,"Mantenimiento":19193.0,"Impuesto":3030.0}]

In [4]:
import pandas as pd

In [6]:
# ahora lo guardamos en un dataframe
df_json = pd.read_json('alquiler.json')
df_json

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [7]:
# para abrir .txt también:
txt = open('alquiler.txt')
print(txt.read())

Tipo	Distrito	Cuartos	Vacantes	Suites	Area	Valor	Mantenimiento	Impuesto
Habitación	San Borja	1	0	0	40	1700	500	60
Casa	Lurigancho	2	0	1	100	7000
Local comercial	Ate	0	4	0	150	5200	4020	1111
Departamento	Pachacámac	1	0	0	15	800	390	20
Departamento	Ate	1	0	0	48	800	230
Departamento	Barranco	3	1	0	70	1200
Departamento	Comas	2	0	0	50	1300	301	17
Casa en condominio	Ate	5	4	5	750	22000
Casa en condominio	El Agustino	2	2	0	65	1000
Local comercial	Pachacámac	0	3	0	695	35000	19193	3030

In [8]:
df_txt = pd.read_table('alquiler.txt')
df_txt

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [9]:
# para archivos ecxel:
df_xlsx = pd.read_excel('alquiler.xlsx')
df_xlsx

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [12]:
df_html = pd.read_html('datos_html_1.html')
df_html[0]
# se especifica ńdice porque hay más de una tabla

,Año,Campeón,Subcampeón,Sede
0,2018,Francia,Croacia,Rusia
1,2014,Alemania,Argentina,Brasil
2,2010,España,Holanda,Sudáfrica
3,2006,Italia,Francia,Alemania
4,2002,Brasil,Alemania,Corea S. y Japón
5,1998,Francia,Brasil,Francia
6,1994,Brasil,Italia,Estados Unidos
7,1990,Alemania,Argentina,Italia
8,1986,Argentina,Alemania (RFA),México
9,1982,Italia,Alemania (RFA),España
10,1978,Argentina,Holanda,Argentina
11,1974,Alemania (RFA),Holanda,Alemania (RFA)
12,1970,Brasil,Italia,México
13,1966,Inglaterra,Alemania (RFA),Inglaterra
14,1962,Brasil,Checoslovaquia,Chile
15,1958,Brasil,Suecia,Suecia
16,1954,Alemania (RFA),Hungría,Suiza
17,1950,Uruguay,Brasil,Brasil
18,1946,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
19,1942,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
20,1938,Italia,Hungría,Francia
21,1934,Italia,Checoslovaquia,Italia
22,1930,Uruguay,Argentina,Uruguay

In [14]:
df_html2 = pd.read_html('datos_html_2.html')
df_html2[0]
# esto se puede hacer con páginas web directamente

                  Date      Reserve balances required  \
                  Date Reserve balance requirements 1
0              Month 7                        Month 7
1            Apr. 2017                         113224
2             May 2017                         115464
3            June 2017                         118187
4            July 2017                         120636
5            Aug. 2017                         120091
6           Sept. 2017                         122109
7            Oct. 2017                         116873
8            Nov. 2017                         123141
9            Dec. 2017                         123720
10           Jan. 2018                         126792
11           Feb. 2018                         124006
12           Mar. 2018                         120285
13           Apr. 2018                         126415
14                 NaN                            NaN
15  Two weeks ending 8             Two weeks ending 8
16       Mar. 14, 2018                         118515
17       Mar. 28, 2018                         121797
18       Apr. 11, 2018                         121488
19       Apr. 25, 2018                         128536
20         May 9, 2018                         131316

                                                               \
   Top of penalty- free band 2 Bottom of penalty- free band 3
0                      Month 7                        Month 7
1                       124561                         101890
2                       127023                         103906
3                       130018                         106357
4                       132712                         108561
5                       132113                         108071
6                       134332                         109887
7                       128574                         105176
8                       135467                         110816
9                       136103                         111337
10                      139484                         114101
11                      136420                         111594
12                      132326                         108245
13                      139070                         113762
14                         NaN                            NaN
15          Two weeks ending 8             Two weeks ending 8
16                      130379                         106652
17                      133989                         109606
18                      133650                         109327
19                      141404                         115671
20                      144460                         118174

   Reserve balances maintained 4  \
                           Total
0                        Month 7
1                        2281420
2                        2225769
3                        2206547
4                        2233323
5                        2344015
6                        2295735
7                        2245701
8                        2314455
9                        2244274
10                       2214601
11                       2238775
12                       2167009
13                       2086192
14                           NaN
15            Two weeks ending 8
16                       2228423
17                       2118454
18                       2107005
19                       2096990
20                       2010167

                                                                  \
   Balances maintained to satisfy reserve balance requirements 5
0                                             Month 7
1                                              124219
2                                              126547
3                                              129695
4                                              132296
5                                              131641
6                                              133950
7                                              128204
8                                              134981
9                                              135719
10                                             138807
11                                             135786
12                                             131778
13                                             138481
14                                                NaN
15                                 Two weeks ending 8
16                                             129881
17                                             133368
18                                             133207
19                                             140741
20                                             143758


   Balances maintained that exceed the top of the penalty- free band 6
0                                             Month 7
1                                             2157202
2                                             2099222
3                                             2076852
4                                             2101027
5                                             2212375
6                                             2161785
7                                             2117497
8                                             2179474
9                                             2108555
10                                            2075794
11                                            2102989
12                                            2035232
13                                            1947710
14                                                NaN
15                                 Two weeks ending 8
16                                            2098542
17                                            1985086
18                                            1973798
19                                            1956249
20                                            1866409